.header {
  display: block;
  text-align: center;
  background-color: #9fcaed80;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: black;
  font-size: 64px;
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 1200px) {
  .topnav a.right, .topnav a {
    float: none;
  }

  .topnav {
    width: 150px;
    height: 100%; 
    position: fixed;
    overflow: auto;
  }

}

.image-gallery {
  display: block;
  margin: auto;
  align-content: center;
  padding: 50px;
  width: 1000px;
  height: auto;
}

.image-gallery img {
  padding-bottom: 50px;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../Assets/background.jpg);
}

.header {
  padding: 40px 0;
}

/* Navbar container */
.topnav {
  background-color: #FFCB05;
  color: black;
  overflow: hidden;
  font-size: 16px;
  height: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Links inside the navbar */
.topnav a {
  float: left;
  width: 150px;
  height: 50px;
  text-decoration: none;
  align-content: center;
  text-align: center;
}

.topnav a.right {
  float: right;
}

.topnav a:hover {
  background-color: #9FCAED;
  color: black
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  width: 150px;
  height: 50px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a background color to navbar links on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #9FCAED;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff1bb;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #d2ecff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  background-color: #0156AA;
  color: white;
}