/* Removes padding and margins for the webpages */
* {
 	margin: 0;
 	padding: 0;
 }

/* Styles the default h1 tag values */
h1 {
  color: black;
  font-size: 64px;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 /* Sets a minimum height of 100% viewport height for the body, adds a background and sets the default font for items in the body */
body {
  min-height: 100vh;
  background-image: url(../Assets/Background.png);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styles the for the top navigation bar */
nav {
  width: 100%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  background-color: #FFCB05;
  font-size: 16px;
  height: 50px;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav li {
  height: 50px;
}

nav li:first-child{
  margin-right: auto;
}

nav a {
  height: 100%;
  padding: 0 30px;
  display: flex;
  color: black;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

nav a.right {
  justify-content: flex-end;
}

nav a:hover {
  background-color: #9FCAED;
  color: black
}

/* Styles for the dropdown menu on the top navigation bar */

.dropdown { /* The dropdown container */
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn { /* Dropdown button */
  font-size: 16px;
  border: none;
  outline: none;
  width: 150px;
  height: 50px;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff1bb;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  align-content: center;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #d2ecff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Add a background color to navbar links on hover */
nav a:hover, .dropdown:hover .dropbtn {
  background-color: #9FCAED;
  color: black;
}

/* Styling for active pages */
.active {
  background-color: #0156AA;
  color: white;
}

.active a {
  color: white;
}

/* Styles for the side navigation bar for smaller screens */
.sidebar {
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ffcd05a4;
  backdrop-filter: blur(10px);
  z-index: 999;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar .fullWidth{
  width: 100%;
}

/* Hides the menu button initially */
.menu-button {
  display: none;
}

/* Styles for the header of the pages */
.header {
  display: block;
  text-align: center;
  background-color: #9fcaed80;
  padding: 60px 0;
}

/* Styles the page directory on the home page */
.directory {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  gap: 2em;
  margin: 50px;
}

/* Styles the image for the descriptions of each page */
.page img {
  object-fit: cover;
  height: 280px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

/* Styles the titles of each of the pages */
.page h2 {
  text-decoration: none;
  margin-top: 10px;
  font-size: 28px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0156AA;
  padding: 5px;
  border-radius: 10px;
}

/* Styles the descriptions of each of the website pages */
.page p {
  color: black;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  background-color: #ffcd05a4;
  padding: 10px;
  border-radius: 10px;
}

/* Removes the standard text decoration of the links */
.page a {
  text-decoration: none;
}

/* Changes text color and background on hover */
.page h2:hover {
  background-color: #9FCAED;
  color: black;
}

/* Styles for the box containing the image galleries */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 233px;
  justify-content: center;
  gap: 2em;
  margin: 50px;
}

/* Styles the images in the images galleries */
.item {
  text-align: center;
}

.item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

/* Styles the box containing the banner image on some of the pages */
.header_img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
  gap: 2em;
  margin: 50px 110px;
}

/* Sizes the banner image */
.header_img .item{
  aspect-ratio: 16/9;
  height: auto;
}

/* Styles the div box containing the interactive models and error codes */
.int_model {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  row-gap: 2em;
  margin: 110px auto;
}

/* Styles the canvas of the 3D models */
x3d-canvas {
  aspect-ratio: 16/9;
  width: 85%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  color: red;
}

/* Styles the h2 text under the interactive model */
.int_text h2 {
  text-decoration: none;
  width: 85%;
  font-size: auto;
  color: black;
  text-align: center;
  background-color: antiquewhite;
  margin: auto;
  margin-top: -100px;
  padding: 10px;
}

.padding{
  margin: auto 110px;
}

/* Styles the container for the image carousel */
.carousel {
  width: 100%;
  overflow-x: auto;
  margin: 3em auto;
  display: flex;
  gap: 1em;
  scroll-behavior: smooth;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
}

.carousel::scroll-marker-group {
  margin: -40px 0 50px 0;
  display: flex;
  justify-content: center;
  gap: 0.5em
}

.card::scroll-marker{
  content: " ";
  height: 1em;
  width: 1em;
  background-color: #0156aa40;
  border-radius: 50%;
}

.card::scroll-marker:target-current{
  background-color: #0156AA;
}

 /* Removes the scrollbar */
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel::scroll-button(right), .carousel::scroll-button(left){
  content: "▶";
  border: none;
  background-color: #0156AA;
  font-size: 24px;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding-bottom: 0.1em;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
  position-area: right center;
  translate: -50%
}

.carousel::scroll-button(left){
  content: "◀";
  position-area: left center;
  translate: 50%
}

.carousel::scroll-button(right):disabled, .carousel::scroll-button(left):disabled{
  opacity: 0.5;
  cursor: auto;
}

/* Styles each card and image in the image carousel */
.card {
  scroll-snap-align: start;
  flex: 0 0 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 0.5em;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.card img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

/* Styles for the text wall in the Acknowledgements page */
.textWall {
  width: auto;
  margin: 50px 150px;
  background-color: #ffffff57;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.textWall p {
  font-size: 24px;
  color: black;
  line-height: 2em;
  margin-top: 20px;
}

.textWall .big {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

/* Styles for the footer on all pages */
footer {
  text-align: center;
  justify-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: #9fcaed80;
  margin-top: 50px;
}

/* Styles the horizontal bar in the footer */
hr {
  border: none;
  height: 3px;
  background-color: black;
  width: 80%;
  margin: 20px 0;
  text-align: center;
}

/* Responsive CSS for screen widths < 875px*/
@media(max-width: 875px) {
  h1{
    font-size: 48px;
  }

  nav{
    height: 45px;
  }

  nav li{
    height: 45px;
  }

  .logo img {
    width: 35px;
    height: 35px;
  }

  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .header {
    padding: 45px 0;
  }

  .header_img{
    margin: 50px;
  }

  .gallery {
    margin: 20px;
    gap: 1.5em;
  }

  .int_model{
    margin: 50px auto;
  }

  .int_text h2{
    margin: -40px 0 auto;
  }

  .padding{
    margin: auto 50px;
  }

  .textWall {
    margin: 50px 20px;
    padding: 20px;
  }

  .textWall p {
    font-size: 20px;
    line-height: 1.8em;
  }

  .textWall .big {
    font-size: 28px;
  }
}

/* Responsive CSS for screen widths < 540px*/
@media(max-width: 540px) {
  h1 {
    font-size: 32px;
  }

  nav{
    height: 40px;
  }

  nav li{
    height: 40px;
  }

  .logo img {
    width: 30px;
    height: 30px;
  }

  .sidebar {
    width: 100%;
  }

  .header {
    padding: 30px 0;
  }

  .textWall {
    margin: 20px;
  }

  .textWall p {
    font-size: 18px;
    line-height: 1.5em;
}

  .textWall .big {
    font-size: 24px;
  }
}
